.SmallCategory-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}
.SmallCategory-title p{
  font-size: 1.8rem;
  padding-left: 10px;
}
.SmallCategory-title span{
  font-size: 3rem;
  color: var(--green);
}
.SmallCategory-checkbox{
  display: none;
}
.SmallCategory-list {
  display: none;
}
.SmallCategory-list__item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  font-family: var(--font-text);
  font-size: 1.4rem;
  padding-left: 20px;
  margin-bottom: 5px;
}
.SmallCategory-list__item label{
  cursor: pointer;
}
.SmallCategory-list__item label input{
  margin-right: 5px;
  cursor: pointer;
} 
.true-show {
  display: block;
}
/* .SmallCategory-list__item span{
  margin-right: 5px;
  cursor: pointer;
}  */