@media(min-width:600px){
  .SelectedProduct-container{
    width: 90%;
    background-color: var(--white);
    padding: 10px 0;
    margin: 20px auto 0 auto;
  }
}
@media(min-width: 1000px){
  .SelectedProduct{
    width: calc(100% - 230px);
  }
}
@media(min-width: 1400px){
  .SelectedProduct{
    width: 1053px;
    margin-left: auto;
    margin-right: 58.5px;
  }
  .SelectedProduct-container{
    width: 100%;
  }
}