.CartProducts{
  width: 100%;
}
.CartProducts-title{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 2px;
  padding: 0 20px;
  margin-top: 10px;
}
.CartProducts-title p{
  font-size: 2rem;
  font-family: var(--font-title);
}
.CartProducts-title span{
  width: 25px;
  height: 25px;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  font-family: var(--font-title);
  color: var(--white);
  background-color: red;
  border-radius: 50%;
}
.CartProducts-ad{
  width: 100%;
  height: 120px;
  border-radius: 2px;
  background-color: var(--black);
  margin: 10px 0;
}
.CartProducts-ad img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.CartProducts-product{
  width: 100%;
  height: 160px;
  display: grid;
  grid-template-areas: 
    'img info'
    'delete quanty' 
  ;
  grid-template-columns: 40% 60%;
  column-gap: 20px;
  row-gap: 5px;
  background-color: var(--white);
  border-radius: 2px;
  padding: 15px 20px;
  margin-bottom: 5px;
}
.CartProducts-not-product{
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-title);
  font-size: 2rem;
  color: var(--green);
  background-color: var(--white);
  padding: 15px 20px;
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px solid var(--green);
}
.CartProducts-not-product p{
  width: 60%;
}
.CartProducts-not-product button{
  width: 100px;
  height: 50px;
  font-size: 1.8rem;
  font-family: var(--font-title);
  color: var(--white);
  background-color: var(--green);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.CartProducts-not-product button:hover{
  background-color: #7db83e;
}
.CartProducts-product__img{
  display: flex;
  justify-content: center;
}
.CartProducts-product__img img{
  grid-area: img;
  max-width: 100px;
  max-height: 80px;
}
.CartProducts-product .CartProducts-product__features{
  grid-area: info;
  display: grid;
  place-content: center;
  font-family: var(--font-title);
  font-size: 1.5rem;
}
.CartProducts-product__features-brand{
  font-family: var(--font-text);
  font-size: 1rem;
  margin-bottom: 5px;
}  
.CartProducts-product__features-name{
  margin-bottom: 5px;
}
.CartProducts-product__features-price strong{
  color: var(--green); 
  font-size: 1.6rem;
  margin-left: 5px;
}
.CartProducts-product .CartProducts-product__delete{
  grid-area: delete;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-title);
  font-size: 1.6rem;
  cursor: pointer;
}
.CartProducts-product__delete:hover span{
  animation: trash 1s ease-in-out forwards;
  transform: rotateZ(0deg);
}
@keyframes trash{
  0%{
    transform: rotateZ(0deg);
  }50%{
    transform: rotateZ(-40deg);
  }75%{
    transform: rotateZ(40deg);
  }100%{
    transform: rotateZ(0deg);
  }

}
.CartProducts-product__delete p{
  margin-right: 5px;
}
.CartProducts-product .CartProducts-product__add{
  grid-area: quanty;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.CartProducts-product__add p{
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 5px;
}
.CartProducts-product__add-buttons{
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--gray);
  border-radius: 1px;
}
.CartProducts-product__add-buttons button{
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: var(--font-title);
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}
.CartProducts-product__add-buttons button:hover{
  background-color: #d3d3d3;
}
.CartProducts-product__add-buttons span{
  width: 30%;
  font-size: 1.5rem;
  padding: 0 15px;
}

@media(min-width: 700px){
  .CartProducts-product{
    width: 100%;
    height: 160px;
    display: grid;
    grid-template-areas: 
      'img info quanty'
      'img delete quanty' 
    ;
    align-items: center;
    grid-template-columns: 30% 30% 30%;
    column-gap: 20px;
    row-gap: 0px;
    padding: 15px 20px;
  }
  .CartProducts-product__img{
    width: 100%;
  }
  .CartProducts-product__img img{
    max-width: 150px;
    max-height: 120px;
  }
  .CartProducts-product .CartProducts-product__features{
    justify-content: left;
    font-size: 1.8rem;
  }
  .CartProducts-product__features-brand{
    font-size: 1.2rem;
  }  
  .CartProducts-product__features-price strong{
    font-size: 1.8rem;
  }
  .CartProducts-product .CartProducts-product__delete{
    justify-content: flex-start;
    font-size: 1.8rem;
   }
   .CartProducts-product .CartProducts-product__add p{
    font-size: 1.6rem;
    font-family: var(--font-title);
   }
   .CartProducts-product__add-buttons{
    width: 160px;
    height: 35px;
   }
}