.Details{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  margin: 20px auto;
}
.Details h1{
  font-size: 2.2rem;
  font-family: var(--font-title);
  margin-bottom: 10px;
}
.Details p{
  font-size: 1.2rem;
  line-height: 2rem;
}
@media(min-width: 1000px){
  .Details{
    width: 50%;
  }
}