@media(min-width:600px){
  .Home-container{
    width: 90%;
    background-color: var(--white);
    padding: 10px 0;
    margin: 20px auto 0 auto;
  }
}
@media(min-width: 1000px){
  .Home{
    width: calc(100% - 230px);
  }
}
