.Cart-container{
  width: 90%;
  margin: 0 auto;
}
.Cart-container__interest .Recommendations{
  width: 100%;
}
.Cart-container__interest .Recommendations-container{
  display: flex;
  overflow-x: scroll;
  scrollbar-width: thin;
  gap: 5px;
}
.Cart-container__interest .Recommendations-container::-webkit-scrollbar{
  height: 5px;
  background: var(--gray);
}
.Cart-container__interest .Recommendations-container::-webkit-scrollbar-thumb{
  height: 5px;
  border-radius: 10px;
  background-color: var(--dark-gray);
}
.Cart-container__interest .Recommendations-container__products{
  min-width: 150px;
  max-width: 170px;
  height: 230px;
  position: relative;
  background-color: var(--white);
  padding: 15px;
  margin: 0 auto 10px 5px;
}

@media(min-width: 700px){
  .Cart-container{
    max-width: 700px;
  }
  .Cart-container__interest .Recommendations{
    width: 100%;
    max-width: 1100px;
    background-color: var(--white);
    padding: 10px;
    margin-top: 20px;
  }
  .Cart-container__interest .Recommendations-title{
    margin-top: 10px;
  }
  .Cart-container__interest .Recommendations-container__products{
    min-width: 170px;
    max-width: 170px;
    background-color: var(--gray);
    margin-left: 10px;
    margin-right: 0;
    cursor: pointer;
  }
  .Cart-container__interest .Recommendations-container__products:hover{
    box-shadow: 0px 1px 8px #979797;
  }
}
@media(min-width: 1000px){
  .Cart{
    width: calc(100% - 230px);
  }
  .Cart-container{
    min-width: 90%;
    max-width: 90%;
  }
  .Cart-container__content{
    display: grid;
    grid-template-columns: 65% auto;
    column-gap: 20px;
  }
}