.Description{
  width: 90%;
  margin: 20px auto 0 auto;
}
.Description-container{
  width: 100%;
  position: relative;
  background-color: var(--white);
  border-radius: 2px;
  padding: 20px 10px 20px 10px;
}
.Description-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Description-image img{
  max-width: 90%;
  max-height: 200px;
}
.Description-info{
  text-align: center;
}
.Description-info__brand{
  font-size: 1.8rem;
  color: var(--dark-gray);
  margin-top: 10px;
}
.Description-info__name{
  font-size: 2rem;
  font-family: var(--font-title);
  color: var(--green);
  margin-top: 10px;
}
.Description-info__price{
  font-size: 2.1rem;
  font-family: var(--font-title);
  margin-top: 10px;
}
.Description-info__description{
  width: 90%;
  font-size: 1.3rem;
  color: var(--dark-gray);
  line-height: 2rem;
  margin: 10px auto 0 auto;
}
.Description-info__buy{
  width: 100%;
  height: 40px;
  font-size: 1.3rem;
  font-family: var(--font-title);
  color: var(--white);
  background-color: var(--green);
  border: none;
  border-radius: 6px;
  margin-top: 10px;
}
.Description-info__buy:hover{
  background-color: #7db83e;
}
.Description-info__add{
  width: 100%;
  height: 40px;
  font-size: 1.3rem;
  font-family: var(--font-title);
  color: var(--green);
  border: 2px solid var(--green);
  border-radius: 6px;
  margin-top: 10px;
}
.Description-info__add:hover{
  color: var(--white);
  background-color: var(--green);
}
.Description-info__heart label{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2.5rem;
  cursor: pointer;
}
.Description-info__heart label span:hover{
  color: rgb(252, 64, 64);
}
.Description-info__heart label input{
  display: none;
}
.Description-info__heart label input:checked + span{
  color: rgb(252, 64, 64);
}
.Description-info__heart label input:checked + .heart-selected,
.Description-info__heart label input:checked + .favorite-selected,
.Description-info__heart label input:checked + .Description-selected{
  color: #a0a0a0;
}
.Description-selected{
  color: rgb(252, 64, 64);
}
.Description-unselected{
  color: #a0a0a0;
}

.Description-details__product{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  margin-top: 10px;
}
.Description-details__product span{
  font-size: 2.2rem;
  color: var(--green);
}
.Description-details__product p{
  width: 70%;
  font-size: 1.8rem;
  font-family: var(--font-title);
}
@media(min-width:700px){
  .Description-container{
    display: grid;
    grid-template-columns: 45% 55%;
  }
  .Description-image img{
    min-width: 150px;
    max-width: 90%;
    max-height: 260px;
  }
  .Description-info{
    max-width: 400px;
  }
  .Description-info__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .Description-info__buttons button{
    width: 100%;
    max-width: 350px;
    cursor: pointer;
  }
  .Description-info__buy, .Description-info__add{
    width: 45%;
  }
  .Description-info__description{
    font-size: 1.5rem;
  }
  .Description-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}