.ReletedProducts{
  width: 100%;
  margin: 20px auto 0 auto;
}
.ReletedProducts-title{
  font-size: 2rem;
  font-family: var(--font-title);
  color: var(--black);
  padding-left: 10px;
  margin: 40px 0 20px 0;
}
.ReletedProducts-container{
  display: flex;
  overflow-x: scroll;
  scrollbar-width: thin;
  gap: 5px;
}
.ReletedProducts-container::-webkit-scrollbar{
  height: 5px;
  background: var(--gray);
}
.ReletedProducts-container::-webkit-scrollbar-thumb{
  height: 5px;
  border-radius: 10px;
  background-color: var(--dark-gray);
}
.ReletedProducts-container__products{
  min-width: 150px;
  max-width: 170px;
  height: 230px;
  position: relative;
  background-color: var(--white);
  padding: 15px;
  margin: 0 auto 10px 5px;
}
.ReletedProducts-container__products-img{
  display: grid;
  place-content: center;
  height: 80px;
}
.ReletedProducts-container__products-img img{
  min-width: 50px;
  max-width: 95%;
  max-height: 100px;
  margin: 0 auto;
}
.ReletedProducts-container__products-brand{
  font-size: 1rem;
  color: var(--dark-gray);
  margin-top: 10px;
}
.ReletedProducts-container__products-name{
  font-size: 1.4rem;
  font-family: var(--font-title);
  color: var(--black);
  margin-top: 3px;
}
.ReletedProducts-container__products-price{
  font-size: 2rem;
  font-family: var(--font-title);
  color: var(--green);
  margin-top: 3px;
}
.ReletedProducts-container__products-description{
  font-size: 1rem;
  color: var(--dark-gray);
}
.ReletedProducts-container__products-cart{
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 17px);
  right: -10px;
  display: grid;
  place-content: center;
  font-size: 2.5rem;
  background-color: var(--green);
  color: var(--white);
  border-radius: 50%;
  cursor: pointer;
}
.ReletedProducts-container__products-cart:hover{
  background-color: #7db83e;
  cursor: pointer;
}

.ReletedProducts-container__products-heart label{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
}
.ReletedProducts-container__products-heart label span:hover{
  color: rgb(252, 64, 64);
}
.ReletedProducts-container__products-heart label input{
  display: none;
}
.ReletedProducts-container__products-heart label input:checked + span{
  color: rgb(252, 64, 64);
}
.ReletedProducts-container__products-heart label input:checked + .favorite-selected,
.ReletedProducts-container__products-heart label input:checked + .heart-selected,
.ReletedProducts-container__products-heart label input:checked + .Description-selected{
  color: #a0a0a0;
}
.favorite-selected{
  color: rgb(252, 64, 64);
}
.favorite-unselected{
  color: #a0a0a0;
}

@media(min-width:700px){
  .ReletedProducts{
    background-color: var(--white);
    padding: 10px;
  }
  .ReletedProducts-title{
    margin-top: 10px;
  }
  .ReletedProducts-container__products{
    min-width: 170px;
    max-width: 170px;
    background-color: var(--gray);
    margin-left: 10px;
    margin-right: 0;
    cursor: pointer;
  }
  .ReletedProducts-container__products:hover{
    box-shadow: 0px 1px 8px #979797;
  }
}