.Comercial{
  display: flex;
  overflow-x: scroll;
}
.Comercial div{
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  background-color: var(--black);
  margin-left: 20px;
  margin-top: 30px;
}
@media(min-width:600px){
  .Comercial{
    width: 90%;
    margin: 0 auto;
  }
  .Comercial div{
    margin-left: 0px;
    margin-right: 20px;
  }
}
@media(min-width:700px){
  .Comercial{
    overflow-x: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .Comercial div{
    min-width: 45%;
    margin-right: 0;
  }
}